@CHARSET "UTF-8";
* {
	margin: 0;
	padding: 0;
	background-color:#b0c4de2e;
}

body {
	width: 100%;
	/* height: 500px; */
	display: inline;
}
.top{
	/* background-color:#337ab7; */
	width: 100%;
    height: 40px;
    position: relative;
}
.topText{
	height: 28px;
    width: 149px;
    font-size: 18px;
    margin-left: 30px;
    /* margin-top: 10px; */
    color: #337ab7;
    bottom: 0px;
    position: absolute;
    background-color: #fff;
    border-radius: 10px 80px 0px 0px;
}
.leftColumns{
	float: left;
    height: 120%;
    width: 15%;
    background-color: #fff;
}
.allColumns{
	margin-top: 20px;
    margin-left: 5px;
    background-color: #337ab7ad;
    /* border-color: #2e6da4; */
    border-color: #fff;
    display: inline-block;
    color: #fff;
    height: 30px;
    width: 158px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 10px;

}
.columns ,.sonColumn{
	 background-color: #fff;
}
.parentColumns{
	margin-top: 2px;
    margin-left: 25px;
    background-color: #337ab752;
    /* border-color: #2e6da4; */
    border-color: #fff;
    display: inline-block;
    color: #333;
    height: 28px;
    width: 135px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 10px;
}
.sonColumns{
	margin-top: 2px;
    margin-left: 40px;
    background-color: #337ab721;
    /* border-color: #2e6da4; */
    border-color: #fff;
    display: inline-block;
    color: #666;
    height: 25px;
    width: 120px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 10px;
}

/* .allContact{
    width: 80%;
    height: 100%;
    margin: 0 auto;
} */
.rightTable{
	float: left;
    width: 85%;
    height: 100%;
    background-color: #fff;
}
.title{
	
    width: 100%;
    height: 5%;
    padding-top: 1%;
}

.line1{
    width: 36.5%;
    height: 4px;
    background-color: lightsteelblue;
    float: left;
    margin-top: 1.5%;
}
.title p{
    font-family: "Microsoft YaHei";
    font-size: 18px;
    color: #333;
    float: left;
    font-weight: bold;
    margin-left: 8%;
    margin-right: 8%;
}
.buttons{
    width: 98%;
    height: 25px;
    
}
.buttons button{
   margin-right: 20px;
    float: left;
}

.col-xs-12 h4,.col-xs-12 div{
    float: left;
}
.col-xs-12 h4{
    margin-left: 25%;
}

.textArea{
	/* width: 33%;
    height: 25px; */
    margin-left:20;
    
}