@CHARSET "UTF-8";
.showTree{
 min-width: 900px;
}
#showRoles {
	width: 30%;
	position : relative;
	float: left;
	margin-left: 5%;
	margin-top: 5%;
	height: auto;
	overflow: auto;
	position: relative;
	background-color:#fff;
	border-radius:6px;
	border:3px solid transparent;
}

#showModules {
	width: 43%;
	position: relative;
	float: left;
	margin-left: 5%;
	margin-top: 5%;
	height: auto;
	overflow: auto;
	background-color:#fff;
	border-radius:6px;
	border:3px solid transparent;
}

.treeview .list-group-item {
	cursor: pointer
}

ul li {
	list-style: none;
	height:30px;
	font-size:16px;
}

.show{
	background-color:#fff;
	margin-left:20px;
}

.selectBox{
	margin: 5px;
}

#allocation{
	folat:left;
}