@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	/* height: 500px; */
	display: inline;
}
.top{
	width:100%;
	height:150px;
	background-color: #b0c4de;
	/* position:relative; */
}
.logo{
	width: 30%;
    height: 100px;
    padding-left: 15%;
    padding-top: 1%;
}
.cqutLogo{
	float:left;
	
}
.cqutText{
	float: left;
    font-family: "STXingkai";
    font-size: 45px;
    margin-top: 20px;
    margin-left: 5px;
}
.topMenu{
	width:70%;
	height:33px;
	margin-right: auto;
	margin-left: auto; 
	/* margin:0 auto; */
	margin-top:2px;
	background-color:#337ab7;
	/* bottom:0px; */
	/* position:absolute; */
	border-radius: 10px 10px 0px 0px;
}
.sonColumns{
	float: left;
    width: 100px;
    height: 28px;
    margin-left: 5px;
    margin-top: 2px;
    font-size: 15px;
    background-color: #337ab7;
    color: #fff;
    border: 0;
}
.centerContent{
	width:70%;
	height:78%;
	background-color:#b0c4de2e;
	margin-right: auto;
	margin-left: auto;
}
.bottom{
	width:100%;
	height:100px;
	background-color: #b0c4de;
}
.line{
	
	width:100%;
	height:2px;
	background-color: #fff;
}
.text1{
	width: 223px;
    color: #fff;
    font-size: 11px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}
.text2{
	width:401px;
	color:#fff;
	font-size:11px;
	margin-right: auto;
	margin-left: auto;
}