@CHARSET "UTF-8";
.sortTree{
 min-width: 900px;
}
#treeRole {
	width: 30%;
	position : relative;
	float: left;
	margin-left: 5%;
	margin-top: 5%;
	height: auto;
	overflow: auto;
	position: relative;
}

#treeModule {
	width: 43%;
	position: relative;
	float: left;
	margin-left: 5%;
	margin-top: 5%;
	height: auto;
	overflow: auto;
}

.treeview .list-group-item {
	cursor: pointer
}

.treeview span.indent {
	margin-left: 10px;
	margin-right: 10px
}

.treeview span.icon {
	width: 12px;
	margin-right: 5px
}

.treeview .node-disabled {
	color: silver;
	cursor: not-allowed
}

.node-treeview-checkable {
	
}

.node-treeview-checkable:not (.node-disabled ):hover {
	background-color: #F5F5F5;
}
