@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	/* height: 500px; */
	display: inline;
}
.top{
	width:100%;
	height:150px;
	background-color: #b0c4de;
	/* position:relative; */
}
.logo{
	width: 70%;
    height: 100px;
    padding-left: 15%;
    padding-top: 1%;
}
.cqutLogo{
	float:left;
	
}
.cqutText{
	float: left;
    font-family: "STXingkai";
    font-size: 45px;
    margin-top: 20px;
    margin-left: 5px;
}
.courseText{
	float: left;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 100px;
    font-family: "NSimSun";
}
.topMenu{
	width:70%;
	height:33px;
	margin-right: auto;
	margin-left: auto; 
	/* margin:0 auto; */
	margin-top:2px;
	background-color:#337ab7;
	/* bottom:0px; */
	/* position:absolute; */
	border-radius: 10px 10px 0px 0px;
}
.sonColumns{
	float: left;
    width: 150px;
    height: 33px;
    margin-left: 18px;
    margin-bottom: -2px;
    font-size: 15px;
    background-color: #b0c4de78;
    color: #333;
    border: 0;
}
.centerContent{
	width:70%;
	height:78%;
	background-color:#b0c4de2e;
	margin-right: auto;
	margin-left: auto;
}
.bottom{
	width:100%;
	height:100px;
	background-color: #b0c4de;
}
.line{
	
	width:100%;
	height:2px;
	background-color: #fff;
}
.text1{
	width: 223px;
    color: #fff;
    font-size: 11px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}
.text2{
	width:401px;
	color:#fff;
	font-size:11px;
	margin-right: auto;
	margin-left: auto;
}
.parentColumns{
	width: 100px;
    height: 33px;
    margin-left: 12px;
    /* margin-top: 3px; */
    background-color: #337ab7;
    border: 0;
    color: #fff;
}
.briefIntroduction{
	width: 60%;
    height: 200px;
    background-color: #b0c4de78;
    float: left;
    margin-left: 20px;
    margin-top:10px;
    border-radius: 20px;
}
.line1{
	width: 95%;
	height:2px;
	background-color:#b0c4de;
	margin-top: 3px;
}
.line2{
	width: 93%;
	height:2px;
	background-color:#b0c4de;
	margin-top: 3px;
}
.coursePrincipal{
	width:30%;
	height:200px;
	background-color: #b0c4de78;
	float:left;
	margin-left: 70px;
	margin-top:10px;
	border-radius: 20px;
}
.introductionLeftMenu{
	float: left;
    width: 25%;
    height: 400px;
    margin-top: 20px;
    margin-left: 40px;
    /* background-color: #b0c4de78; */
}
.introductionRight{
	float: left;
    width: 65%;
    height: 400px;
    margin-top: 20px;
    margin-left: 15px;
    background-color: #b0c4de78;
}
.introductionTtileText{
	width: 75%;
    height: 35px;
    background-color: #337ab7c7;
    border-radius: 6px;
}
.introductionTtileText p{
	color: #fff;
    margin-left: 54px;
    font-size: 19px;
    padding-top: 4px;
}
.introductionrightTitle{
	width:100%;
	height:50px;
	/* background-color: #fff */
}
.titTop{
	width:100%;
	height: 50px;
}
.rightTitleText{
	float: left;
    width: 30%;
    height: 90%;
    /* background-color: red; */
}
.rightTitleText p{
	float: left;
    color: #337ab7;
    font-size: 19px;
    margin-left: 20px;
    margin-top: 14px;
}

.showPosition{
	float: right;
    width: 70%;
    height: 90%;
    /* background-color: red; */
}
.showPosition p{
	float: right;
    margin-right: 24px;
    margin-top: 20px;
}
.line3{
	width: 95%;
    height: 2px;
    margin-left: 2.5%;
    background-color: #337ab7;
}
.articleTitle{
	width: 60%;
    height: 30px;
    margin-left: 20px;
    margin-top: 5px;
}
.putContent{
	width: 93%;
    /* height: 30px; */
    margin-left: 20px;
    margin-top: 5px;
}
.showMessageAndReply{
	width: 50%;
    height: 200px;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    /* background-color: #337ab7; */
}
.collectMessages{
	width: 35%;
    height: 200px;
    float: right;
    margin-right: 50px;
    margin-top: 20px;
    background-color: #fff;
}
.messageWithReply{
	margin-bottom: 10px;
    width: 100%;
    /* height: 100px; */
    background-color: #fff;
    border-radius: 10px;
}
.message{
	
	width: 100%;
    /* height: 45px; */
    background-color: #fff;
    border-radius: 10px;
}
.messageWithoutReply{
	margin-bottom:10px;
	width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 10px;
}
.messageText {
	width:95%;
	margin-left: 12px;
    padding-top: 10px;
    font-size: 15px;
	
}
.messageTime{
	float: right;
    /* margin-top: 25px; */
    margin-right: 10px;
    font-size: 12px;
}
.hadReply{
	float: right;
    /* margin-top: 25px; */
    margin-right: 10px;
    font-size: 12px;
}
.line4{
	width: 96%;
    height: 2px;
    margin-left: 2%;
    background-color: #b0c4de2e;
}
.replyText{
	/* float:left;    */ 
	width:95%;
    margin-top: 14px;
    margin-left: 10px;
    font-size: 15px;
}
.replyEmployee{
    float: right; 
    /* margin-top: 25px; */
    margin-right: 10px;
    font-size: 12px;
}
.replyTime{
	 float: right; 
    /* margin-top: 25px; */
    margin-right: 10px;
    font-size: 12px;
}
.package{
	width:100%;
	height:20px;
}
.reply{
	width:100%;
}
.collectMessagesText{
	color: #337ab7;
    width: 93%;
    height: 30px;
    margin-top: 10px;
    font-size: 15px;
}
.writeMessage{
	border-radius: 10px;
    margin-left: 8%;
}
.submitButton{
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    height: 35px;
    width: 100px;
    margin-top: 15px;
    margin-left: 210px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.introductionContent1 p{
	margin-top: 4px;
	margin-left: 10px;
}

.showResource{
	width:230px;
	height:230px;
	float:left;
	/* background-color:#666 */
}