<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>control.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowLeftMenu</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>control.ShowLeftMenu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowSonModules</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>control.ShowSonModules</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllArticle</servlet-name>
    <servlet-class>control.FindAllArticle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllColumns</servlet-name>
    <servlet-class>control.FindAllColumns</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllSonColumns</servlet-name>
    <servlet-class>control.FindAllSonColumns</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/control/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowLeftMenu</servlet-name>
    <url-pattern>/control/ShowLeftMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowSonModules</servlet-name>
    <url-pattern>/control/ShowSonModules</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllArticle</servlet-name>
    <url-pattern>/control/FindAllArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllColumns</servlet-name>
    <url-pattern>control/FindAllColumns</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllSonColumns</servlet-name>
    <url-pattern>/control/FindAllSonColumns</url-pattern>
  </servlet-mapping>

</web-app>