<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>control.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowLeftMenu</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>control.ShowLeftMenu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowSonModules</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>control.ShowSonModules</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllArticle</servlet-name>
    <servlet-class>control.FindAllArticle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllColumns</servlet-name>
    <servlet-class>control.FindAllColumns</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllSonColumns</servlet-name>
    <servlet-class>control.FindAllSonColumns</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>control.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllRole</servlet-name>
    <servlet-class>control.FindAllRole</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertArticle</servlet-name>
    <servlet-class>control.InsertArticle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteArticle</servlet-name>
    <servlet-class>control.DeleteArticle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindUserName</servlet-name>
    <servlet-class>control.FindUserName</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllAuditArticle</servlet-name>
    <servlet-class>control.FindAllAuditArticle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateAuditArticle</servlet-name>
    <servlet-class>control.UpdateAuditArticle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteRole</servlet-name>
    <servlet-class>control.DeleteRole</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllEmployee</servlet-name>
    <servlet-class>control.FindAllEmployee</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateArticle</servlet-name>
    <servlet-class>control.UpdateArticle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindArticleContent</servlet-name>
    <servlet-class>control.FindArticleContent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertPrivilege</servlet-name>
    <servlet-class>control.InsertPrivilege</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertRole</servlet-name>
    <servlet-class>control.InsertRole</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateRole</servlet-name>
    <servlet-class>control.UpdateRole</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertEmployee</servlet-name>
    <servlet-class>control.InsertEmployee</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteEmployee</servlet-name>
    <servlet-class>control.DeleteEmployee</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteExistingPrivilege</servlet-name>
    <servlet-class>control.DeleteExistingPrivilege</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAccountPermission</servlet-name>
    <servlet-class>control.FindAccountPermission</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateEmployee</servlet-name>
    <servlet-class>control.UpdateEmployee</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllMessage</servlet-name>
    <servlet-class>control.FindAllMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateMessage</servlet-name>
    <servlet-class>control.UpdateMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteMessage</servlet-name>
    <servlet-class>control.DeleteMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllPASColumns</servlet-name>
    <servlet-class>control.FindAllPASColumns</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateModule</servlet-name>
    <servlet-class>control.UpdateModule</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllCourse</servlet-name>
    <servlet-class>control.FindAllCourse</servlet-class>
  </servlet>































  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/control/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowLeftMenu</servlet-name>
    <url-pattern>/control/ShowLeftMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowSonModules</servlet-name>
    <url-pattern>/control/ShowSonModules</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllArticle</servlet-name>
    <url-pattern>/control/FindAllArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllColumns</servlet-name>
    <url-pattern>/control/FindAllColumns</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllSonColumns</servlet-name>
    <url-pattern>/control/FindAllSonColumns</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/control/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllRole</servlet-name>
    <url-pattern>/control/FindAllRole</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertArticle</servlet-name>
    <url-pattern>/control/InsertArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteArticle</servlet-name>
    <url-pattern>/control/DeleteArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindUserName</servlet-name>
    <url-pattern>/control/FindUserName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllAuditArticle</servlet-name>
    <url-pattern>/control/FindAllAuditArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateAuditArticle</servlet-name>
    <url-pattern>/control/UpdateAuditArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteRole</servlet-name>
    <url-pattern>/control/DeleteRole</url-pattern>

  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllEmployee</servlet-name>
    <url-pattern>/control/FindAllEmployee</url-pattern>


  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateArticle</servlet-name>
    <url-pattern>/control/UpdateArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindArticleContent</servlet-name>
    <url-pattern>/control/FindArticleContent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertPrivilege</servlet-name>
    <url-pattern>/control/InsertPrivilege</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertRole</servlet-name>
    <url-pattern>/control/InsertRole</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateRole</servlet-name>
    <url-pattern>/control/UpdateRole</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertEmployee</servlet-name>
    <url-pattern>/control/InsertEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteEmployee</servlet-name>
    <url-pattern>/control/DeleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteExistingPrivilege</servlet-name>
    <url-pattern>/control/DeleteExistingPrivilege</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAccountPermission</servlet-name>
    <url-pattern>/control/FindAccountPermission</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateEmployee</servlet-name>
    <url-pattern>/control/UpdateEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllMessage</servlet-name>
    <url-pattern>/control/FindAllMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateMessage</servlet-name>
    <url-pattern>/control/UpdateMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMessage</servlet-name>
    <url-pattern>/control/DeleteMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllPASColumns</servlet-name>
    <url-pattern>/control/FindAllPASColumns</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateModule</servlet-name>
    <url-pattern>/control/UpdateModule</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllCourse</servlet-name>
    <url-pattern>/control/FindAllCourse</url-pattern>
  </servlet-mapping>

</web-app>